<app-header></app-header> 
<app-drawer></app-drawer>

<div class="cart-container">

  <h2>🛒 Il Tuo Carrello</h2>

  <div class="remove-selected-container">
  <button class="remove-selected-button" (click)="removeSelectedProducts()">X</button>
</div>
<p class="cart-summary-text">Totale prodotti: <strong>{{ totalQuantity }}</strong></p>
  <!-- <div class="cart-summary" *ngIf="cartItems.length > 0">
    <button class="clear-cart-button" (click)="clearCart()">Svuota</button>
  </div> -->
  <div *ngIf="cartItems.length === 0" class="empty-cart">
    <p>Il tuo carrello è vuoto. 😕</p>
    <button routerLink="/products">🛍️ Esplora Prodotti</button>
  </div>

  <div class="cart-items" *ngIf="cartItems.length > 0">
    <div class="cart-item" *ngFor="let item of cartItems">
      <input type="checkbox" (change)="toggleSelection(item.product.id)" [checked]="selectedProducts.includes(item.product.id)">
      <!-- Immagine a sinistra -->
      <img [src]="'assets/images/' + item.product.image" alt="{{ item.product.name }}">
      
      <!-- Nome e dettagli prodotto -->
      <div class="cart-item-details">
        <h3>{{ item.product.name }}</h3>
      </div>

      <!-- Prezzo e bottoni -->
      <div class="cart-actions">
        <p class="price"><strong>€{{ item.product.price }}</strong></p>
        <div class="quantity-controls">
          <button class="quantity-button" (click)="decreaseQuantity(item.product.id, item.quantity)">-</button>
          <span>{{ item.quantity }}</span>
          <button class="quantity-button" (click)="increaseQuantity(item.product)">+</button>

    </div>
  </div>
</div>

<div class="purchase-container">
  <p class="total-text">Totale: <strong>€{{ totalPrice }}</strong></p>
  <button class="purchase-button" (click)="purchaseSelectedProducts()">Acquista</button>
</div>