.contact-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-container h2{
    color: #1b4561;
}

/* Contact Info Cards */
.contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info-card {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.info-card h3 {
    color: #22577a;
    margin-bottom: 8px;
}



/* Google Maps */
.map-container {
    margin: 20px 0;
}

/* Contact Form */
.contact-form {
    font-family: 'Montserrat', sans-serif;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    color: #122e41;
}

.contact-form input,
.contact-form textarea {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background: #38a3a5;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #22577a;
}
